/* style.css */
/* Style for tabs */

body {
  background-color: #282828;
}

.tab {
  display: none;
  font-family: Helvetica;
  color: #ebdbb2;
}

/* Style to position tabs at the top */
/* New CSS rules to adjust layout and spacing */
/* .headerClass {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
} */

.headerClass {
  /* background-color: #333; */
  justify-content: flex-start;
  overflow: hidden;
  /* display: flex; */
  position: fixed;
  top: 5px;
  width: 100%;
}

.headerClass a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.headerClass a:hover {
  background-color: #ddd;
  color: black;
}

.tabLinks {
  margin-right: 2px;
  margin-left: 2px;
  display: flex;
  gap: 10px; /* Creates space between tab links */
  flex-direction: row;
  flex-wrap: wrap;
}

.searchBar {
  visibility: hidden;
}

/* Adjust the position of the search bar */
.searchBar.visible {
  visibility: visible;
  margin-left: auto; /* Pushes the search bar to the right */
}

.tabLinks button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #98971a;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.tabLinks button:hover {
  background-color: #b8bb26;
}
.streamerIdCSS {
  color: rgb(107, 25, 25);
}
.dateCSS {
}
.msgCSS {
}
.normalFrogIdCSS {
}
