/* style.css */
/* Style for tabs */

body {
  background-color: #282828;
}

.tab {
  display: none;
  font-family: Helvetica;
  color: #ebdbb2;
}

/* Style to position tabs at the top */
.tabLinks {
  position: sticky;
  top: 0;
  background-color: rgb(148, 67, 167)112, 144; /* Optionally add a background color */
  z-index: 100; /* Ensure the tabs stay on top of other content */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.tabLinks button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #98971a;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

.tabLinks button:hover {
  background-color: #b8bb26;
}